/* order-style.css */
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

canvas{
    width: 100% !important;
}

img{
    object-fit: cover;
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #fdfbf7;
}

.top-container{
    background: #031224;
    border-radius: 0 0 30px 30px;
    padding-bottom: 10px;
}

.top-container .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 14px;
}

.top-container .nav .logo{
    display: flex;
    align-items: center;
    gap: 6px;
}

.top-container .nav .logo i{
    color: #ffffff;
    font-size: 24px;
}

.top-container .nav .logo a{
    font-size: 16px;
}

.top-container .nav .nav-links{
    display: flex;
    gap: 20px;
}

.top-container .nav .nav-links a{
    color: #ccc;
    transition: all 0.3s ease;
}

.top-container .nav .nav-links a:hover{
    color: #fff;
}

.top-container .nav .right-section{
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-container .nav .right-section > i{
    color: #f1f3f2;
    background: #1e293b;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.top-container .nav .right-section .profile{
    display: flex;
    align-items: center;
    background: #1e293b;
    padding: 0 10px;
    border-radius: 50px;
    gap: 10px;
}

.top-container .nav .right-section .profile .info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-container .nav .right-section .profile .info img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #f1f3f2;
}

.top-container .nav .right-section .profile .info a{
    font-size: 13px;
}

.top-container .nav .right-section .profile .info p{
    font-size: 13px;
    color: #ccc;
}

.top-container .nav .right-section .profile > i{
    color: #f1f3f2;
    font-size: 22px;
    cursor: pointer;
}


/* Custom Scrollbar untuk area daftar obat */
.custom-scrollbar::-webkit-scrollbar {
    width: px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 3px;
}